/* BENEFICIOS */

.beneficios-section {
    @apply
      w-[100%]
      bg-[#FBFBFB];
  }
  
  .beneficios-container {
    @apply 
      h-[100%]
      w-full
      ;
  }
  
  .beneficios-content {
    @apply 
      w-full
      px-[24px]
      py-[60px] 
      flex-col 
      justify-start 
      items-start 
      gap-12 
      inline-flex;
  }
  
  .beneficios-title-container {
    @apply 
      self-stretch 
      justify-between 
      items-center 
      inline-flex;
  }
  
  .beneficios-cards-container {
    @apply 
      w-[100%] 
      gap-6
      flex
      flex-col
      justify-center
      items-center;
  }
  
  .beneficios-card {
    @apply 
      w-72
      h-36 
      pt-10
      pb-8 
      bg-white
      rounded 
      shadow 
      flex-col 
      justify-start 
      items-center 
      inline-flex 
      drop-shadow-lg
      gap-1
      text-center
      my-6;
  }

  .subBeneficios-card {
    @apply 
  h-[130px] w-[280px] pt-8 pb-4 px-4;}
  
  .beneficios-icon-container {
    @apply 
      w-[55px] 
      h-[55px] 
      relative;
  }
  
  .beneficios-icon-background {
    @apply 
      w-[55px] 
      h-[55px] 
      p-3 
      left-0 
      top-[-70px] 
      absolute 
      bg-sky-100 
      rounded-[27.50px] 
      justify-center 
      items-center 
      inline-flex;
  }
  
  .beneficios-icon {
    @apply 
      self-stretch 
      justify-start 
      items-start 
      inline-flex;
  }
  
  .beneficios-icon-img {
    @apply 
      w-[31px] 
      h-[31px] 
      relative;
  }
  
  .beneficios-title {
    @apply 
      text-sky-950 
      text-sm 
      font-bold 
      leading-normal;
  }
  
  .beneficios-content-text {
    @apply 
      w-[186px] 
      text-sky-950 
      text-xs 
      font-normal 
      leading-[18px];
  }



  // SUB BENEFICIOS
.subBeneficios-cards-container {
  @extend .beneficios-cards-container;
}

.subBeneficios-card {

@extend .beneficios-card;
}

.subBeneficios-title-container{
  @apply
  justify-center 
  self-center  
  items-center 
  ;
}
.subBeneficios-container{
  @apply
  w-full
  ;
  .beneficios-icon-container{
    @apply absolute top-[-25px];
    }
    
  .subBeneficios-title{
    @extend .beneficios-title;
    img{
      display:none;
    }

  }

  .subBeneficios-content-text{
    @extend .beneficios-content-text;
    @apply
    w-full
    ;
  }
}

  

  // MEDIA QUERIES sm
@screen sm {
  .beneficios-section {
    @apply
    w-[100%]
    bg-[#FBFBFB]
    ;
  }

  .beneficios-container {
    @apply 
    max-w-[1420px] 
    h-[784.17px]
    max-[1090px]:h-[1054.17px] 

    ;
  }

  .beneficios-inner {
    @apply 
    flex 
    justify-center 
    items-center 
    content-center;
  }

  .beneficios-content {
    @include paddingX-sm;

    @apply 
    w-[100%] 
    h-[784.17px] 


    p-[5rem] 
    flex-col 
    justify-start 
    items-start 
    gap-20 
    inline-flex;
  }

  .beneficios-title-container {
    @apply 
    self-stretch 
    justify-between 
    items-center 
    inline-flex 
    ;
  }

  .beneficios-cards-container {
    @apply 
    w-[100%] 
    mx-auto 
    grid 
    grid-cols-3 
    max-[1090px]:grid-cols-2
    gap-[3.27rem] 
    justify-center 
    items-center 
    content-center;
  }

  .beneficios-card {
    @apply 
    w-72 
    h-36 
    pt-12 
    pb-8 
    bg-white
    rounded 
    shadow 
    flex-col 
    justify-start 
    items-center 
    gap-1 
    inline-flex 
    drop-shadow-lg;
  }

  .beneficios-icon-container {
    @apply 
    w-[55px] 
    h-[55px] 
    relative;
  }

  .beneficios-icon-background {
    @apply 
    w-[55px] 
    h-[55px] 
    p-3 
    left-0 
    top-[-70px] 
    absolute 
    bg-sky-100 
    rounded-[27.50px] 
    justify-center 
    items-center 
    inline-flex;
  }

  .beneficios-icon {
    @apply 
    self-stretch 
    justify-start 
    items-start 
    inline-flex;
  }

  .beneficios-icon-img {
    @apply 
    w-[31px] 
    h-[31px] 
    relative;
  }

  .beneficios-title {
    @apply 
    text-center 
    text-sky-950 
    text-lg 
    font-bold 
    leading-normal;
  }

  .beneficios-content-text {
    @apply 
    w-[226px] 
    text-center 
    text-sky-950 
    text-sm 
    font-normal 
    leading-[18px];
  }


// SUB BENEFICIOS
.subBeneficios-container {
    @apply 
    max-w-[1420px] 
    h-[784.17px]
    max-[1090px]:h-full
  ;
}



.subBeneficios-cards-container {
  @apply 
  w-full
  mx-auto 
  grid 
  grid-cols-2 
  gap-[2.25rem] 
  justify-center 
  items-center 
  content-center

  ;
}

.subBeneficios-top-icon{
  display:none;
}

.subBeneficios-card {
  @apply 
  max-w-[478px]
  w-full
  h-56
  pt-12 
  pb-8 
  min-[971px]:px-7
  bg-white
  rounded 
  shadow 
  flex-col 
  justify-start 
  items-center 
  gap-1 
  inline-flex 
  drop-shadow-lg
  my-0

  ;

  .subBeneficios-title{
    @apply
    flex
    text-left
    w-full
    items-center
    text-xl
    max-[875px]:text-base
    mt-[-15px]
    pb-3
    
    ;
    img{
      padding-right:10px;
      display:block;
    }
  }
  .subBeneficios-content-text{
    @apply
    text-left
    w-full
    text-lg
    max-[875px]:text-base
    leading-6
    ;
  }
}



}


  // MEDIA QUERIES lgx
  @screen lgx {
  
    .beneficios-card {
      @apply 
      w-[386px] 
      ;
    }
    .subBeneficios-card {
      @apply 
      w-[550px] 
      ;
    }

  }
  